.App {
  text-align: center;
}
body,
html {
  height: 100%;
}

:root {
  --main-green: #39b43f;
  --ligh-gray: #4c5562;
  --terminal-container: #292f38;
}

.particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  /* position: absolute; */
  z-index: -10;
  /* z-index: auto; */
  top: 0;
  left: 0;
  background-color: #18325a;
}

.app-navbar {
  z-index: 2;
  position: absolute;
}

.title {
  z-index: 2;
  font-weight: 500;
  position: relative;
  margin: 50px auto 20px auto;
  width: max-content;
}

.app-loader {
  position: absolute;
  z-index: 8;
  background-color: green;
}