body,
html {
  height: 100%;
}

:root {
  --main-green: #39b43f;
  --ligh-gray: #4c5562;
  --terminal-container: #292f38;
}

.app-navbar {
  z-index: 2;
  position: absolute;
}

.title {
  z-index: 2;
  font-weight: 500;
  position: relative;
  margin: 50px auto 20px auto;
  width: max-content;
}

.app-loader {
  position: absolute;
  z-index: 8;
  background-color: green;
}
